.todo{
    border: 3px solid rgb(112, 98, 82);
    width: 52%;
    min-width: 300px;
    min-height: 80vh;
    border-radius: 25px;
    background-color: linen;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    padding: 0px 3%;
    padding-bottom: 6vh;
    
}

.todo-header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
}
.todo-header h1{
    color: rgb(112, 98, 82);
    font-size: min(2.5em, 50px);
    font-weight: 600;
    line-height: 5vh;
}
.todo-header img{
    height: min(2.5em, 50px);
    padding-left: 2vh;
}

.todo-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.todo-input{
    border-radius: 50px;
    border: 3px solid rgb(112, 98, 82);
    color: rgb(112, 98, 82);
    outline: none;
    width: 100%;
    height: 4.5vh;
    min-height: 30px;
    padding-left: 4%;
    font-size: max(1em, 18px);
}

.todo-add-btn{
    border-radius: 50px;
    background-color: rgb(112, 98, 82);
    border: 3px solid rgb(112, 98, 82);
    height: 4.5vh;
    min-height: 30px;
    width: 12vh;
    min-width: 50px;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(1em, 12px);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.todo-add-btn:hover{
    background-color: white;
    color: rgb(112, 98, 82);
    font-weight: 800;
}

.error-message{
    display: none;
    margin-top: -3.8vh;
    margin-bottom: -2.5vh;
    margin-left: 4%;
    color: rgb(112, 98, 82);
    font-size: 1em;
    font-style: italic;
    text-align: left;
}