.todo-items{
    display:flex;
    margin-top: 0.85vh;
    height: 6vh;
    /* position: sticky;*/
    align-items: center;
    width: 100%;
}

.todo-items-container{
    display: flex;
    width: 100%;
    align-items: center;
    overflow-wrap: anywhere;
}

.todo-items-text{
    cursor: default;
    padding-left: 1vh;
    width: 100%;
    color: rgb(112, 98, 82);
    display: flex;
    font-size: clamp(0.5rem, 4vh, 1.15rem);
}

.todo-items-text:hover{
    background-color: white;
    border-radius: 20px;
}

.todo-items-container img{
    margin-right: 1vh;
    width: 3.5vh;
    min-width: 25px;
    height: auto;
    cursor: pointer;
}

.completed{
    font-style: italic;
}

.ticked{
    text-decoration: line-through solid rgb(112, 98, 82) 2px;
}
